<div class="table-container">
  <table class="table">
    <thead class="titulos">
      <tr>
        <th >ID</th>
        <th >Matricula</th>
        <th >Nome</th>
        <th >Endereço</th>
        <th >CEP</th>
        <th >UF</th>
        <th >Cidade</th>
        <th >Contatos</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody class="conteudo">
      <tr *ngFor="let pessoa of pessoas">
        <td>{{ pessoa.id }}</td>
        <td>{{ pessoa.matricula }}</td>
        <td>{{ pessoa.nome }}</td>
        <td>{{ pessoa.endereco }}</td>
        <td>{{ pessoa.cep }}</td>
        <td>{{ pessoa.uf }}</td>
        <td>{{ pessoa.cidade }}</td>
        <td>
          <ng-container *ngIf="pessoa.contatos.length > 0; else semContatos">
            <ul>
              <li class="lista" *ngFor="let contato of pessoa.contatos">
                {{ contato.tipoContato }}: {{ contato.contato }}
              </li>
            </ul>
          </ng-container>
          
          <ng-template #semContatos>
            Nenhum contato cadastrado
          </ng-template>
        </td>

        <td class="acoes">
          <button type="button" class="btn btn-info me-2" (click)="editarPessoa(pessoa.id)">Editar</button>
          <button type="button" class="btn btn-success me-2" (click)="adicionaCtt(pessoa.id)">Adicionar Contato</button>
          <button type="button" class="btn btn-danger me-2" (click)="confirmarExclusao(pessoa)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

  