<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid nav">
      <h1 id="title">JP - 2025</h1>

      <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active sla" aria-current="page" routerLink="/" routerLinkActive="active">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active sla" aria-current="page" routerLink="/register" routerLinkActive="active">Cadastrar</a>
          </li>          
         
        </ul>
      </div>
    </div>
  </nav>